# ================================
# C++
# ================================

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Program Debug Database
*.pdb

# Incremental Linker File
*.ilk

# ================================
# Visual Studio Code
# ================================

# VSCode folder
.vscode
/.vs
/C#/week03/taehwan/CSharpV4V5/CSharpV4V5.sln
/C#/week03/taehwan/CSharpV4V5/ConsoleApp1/Program.cs
/C#/week03/taehwan/CSharpV4V5/ConsoleApp1/obj/Release/netcoreapp3.1/ConsoleApp1.assets.cache
/C#/week03/taehwan/CSharpV4V5/ConsoleApp1/obj/Release/netcoreapp3.1/ConsoleApp1.AssemblyInfoInputs.cache
/C#/week03/taehwan/CSharpV4V5/ConsoleApp1/obj/Release/netcoreapp3.1/ConsoleApp1.AssemblyInfo.cs
/C#/week03/taehwan/CSharpV4V5/ConsoleApp1/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/C#/week03/taehwan/CSharpV4V5/ConsoleApp1/obj/Release/netcoreapp3.1
/C#/week03/taehwan/CSharpV4V5/ConsoleApp1/obj/project.nuget.cache
/C#/week03/taehwan/CSharpV4V5/ConsoleApp1/obj/project.assets.json
/C#/week03/taehwan/CSharpV4V5/ConsoleApp1/obj/Debug/netcoreapp3.1/ConsoleApp1.csprojAssemblyReference.cache
/C#/week03/taehwan/CSharpV4V5/ConsoleApp1/obj/Debug/netcoreapp3.1/ConsoleApp1.assets.cache
/C#/week03/taehwan/CSharpV4V5/ConsoleApp1/obj/Debug/netcoreapp3.1/ConsoleApp1.AssemblyInfoInputs.cache
/C#/week03/taehwan/CSharpV4V5/ConsoleApp1/obj/Debug/netcoreapp3.1/ConsoleApp1.AssemblyInfo.cs
/C#/week03/taehwan/CSharpV4V5/ConsoleApp1/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/C#/week03/taehwan/CSharpV4V5/ConsoleApp1/obj/Debug/netcoreapp3.1
/C#/week03/taehwan/CSharpV4V5/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.targets
/C#/week03/taehwan/CSharpV4V5/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
/C#/week03/taehwan/CSharpV4V5/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
/C#/week03/taehwan/CSharpV4V5/ConsoleApp1/obj
/C#/week03/taehwan/CSharpV4V5/ConsoleApp1/ConsoleApp1.csproj
/C#/week03/taehwan/CSharpV4V5/ConsoleApp1
/C#/week03/taehwan/CSharpV4V5/.vs/CSharpV4V5/v16/.suo
/C#/week03/taehwan/CSharpV4V5/.vs/CSharpV4V5/v16
/C#/week03/taehwan/CSharpV4V5/.vs/CSharpV4V5/DesignTimeBuild/.dtbcache.v2
/C#/week03/taehwan/CSharpV4V5/.vs/CSharpV4V5/DesignTimeBuild
/C#/week03/taehwan/CSharpV4V5/.vs/CSharpV4V5
/C#/week03/taehwan/CSharpV4V5
/C#/week02/taehwan/CSharpV3/CSharpV3/obj/Debug/netcoreapp3.1/CSharpV3.csprojAssemblyReference.cache
/C#/week02/taehwan/CSharpV3/CSharpV3/obj/Debug/netcoreapp3.1/CSharpV3.AssemblyInfoInputs.cache
/C#/week02/taehwan/CSharpV3/CSharpV3/obj/Debug/netcoreapp3.1/CSharpV3.AssemblyInfo.cs
